@font-face {
  font-family: "TTtravelsRegular";
  src: url("./assets/Fonts/TTtravels/TTTravels-Regular.ttf");
}

@font-face {
  font-family: "TTtravelsMedium";
  src: url("./assets/Fonts/TTtravels/TTTravels-Medium.ttf");
}

@font-face {
  font-family: "TTtravelsDemiBold";
  src: url("./assets/Fonts/TTtravels/TTTravels-DemiBold.ttf");
}

@font-face {
  font-family: "TTtravelsItalic";
  src: url("./assets/Fonts/TTtravels/TTTravels-Italic.ttf");
}


html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  background: #F2F2F2;
}




